.constructor {
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fillersList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 464px;
}

.filler {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.summary {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.totalSum {
    display: flex;
    align-items: center;
    gap: 8px;
}

.currencyIconWrapper {
    width: 36px;
    height: 36px;
    transform: scale(1.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    text-align: center;
    line-height: 2;
}
