.constructor {
  display: flex;
  flex-direction: column;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.constructorElement {
  background-color: pink;
}

.emptyIngredient {
  min-width: 536px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37363F;
  composes: text text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}

.emptyTopBun {
  composes: emptyIngredient;
  border-radius: 88px 88px 40px 40px;
}

.emptyBottomBun {
  composes: emptyIngredient;
  border-radius: 40px 40px 88px 88px;
}

.emptyFiller {
  composes: emptyIngredient;
  border-radius: 40px;
}

.fillersList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 464px;
}

.filler {
  min-width: 568px;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.summary {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.totalSum {
  display: flex;
  align-items: center;
  gap: 8px;
}

.currencyIconWrapper {
  width: 36px;
  height: 36px;
  transform: scale(1.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
