.mainContainer {
  display: flex;
  padding-left: 10vw;
}

.aside {
  padding-top: 120px;
}

.tab {
  min-height: 64px;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.disclaimer {
  max-width: 320px;
}
