.ingredients {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredientsTab {
  display: flex;
  flex-direction: row;
}

.ingredientsSection {
  max-height: 650px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cardsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  gap: 24px;
  row-gap: 32px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  max-width: 272px;
  cursor: pointer;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  max-height: 24px;
}

.name {
  text-align: center;
  min-height: 48px;
}

.image {
  width: 240px;
  height: 120px;
}

.dragging {
  opacity: 0.5;
}
